
@mixin display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin dislay-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit Box fallback.
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  @if $value == nowrap {
      -ms-flex-wrap: none;
  } @else {
      -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {
  -webkit-box-flex: $fg;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg;
  -moz-flex: $fg $fs $fb;
  -ms-flex: $fg $fs $fb;
  flex: $fg $fs $fb;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit Box fallback.
  -webkit-flex-flow: $values;
  -moz-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

@mixin align-self($value: auto) {
  -webkit-align-self: $value;
  -moz-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

@mixin align-content($value: stretch) {
  -webkit-align-content: $value;
  -moz-align-content: $value;
  @if $value == flex-start {
    -ms-flex-line-pack: start;
  } @else if $value == flex-end {
    -ms-flex-line-pack: end;
  } @else {
    -ms-flex-line-pack: $value;
  }
  align-content: $value;
}

@mixin justify-content($value: stretch) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

@mixin flex-presets($attr) {
  [#{$attr}] {
    @include flex(1);
  }
  [#{$attr}="10"] {
    @include flex-preset(10%);
  }
  [#{$attr}="20"] {
    @include flex-preset(20%);
  }
  [#{$attr}="25"] {
    @include flex-preset(25%);
  }
  [#{$attr}="33"], [#{$attr}="34"] {
    @include flex-preset(33.33%);
  }
  [#{$attr}="50"] {
    @include flex-preset(50%);
  }
  [#{$attr}="66"], [#{$attr}="67"] {
    @include flex-preset(66.66%);
  }
  [#{$attr}="75"] {
    @include flex-preset(75%);
  }
  [#{$attr}="80"] {
    @include flex-preset(80%);
  }
  [#{$attr}="90"] {
    @include flex-preset(90%);
  }
}

@mixin flex-preset($value) {
  max-width: $value;
  @include flex(0, 0, $value);
}

@mixin offset-presets($attr) {
  [#{$attr}="10"] {
    margin-left: 10%;
  }
  [#{$attr}="20"] {
    margin-left: 20%;
  }
  [#{$attr}="25"] {
    margin-left: 25%;
  }
  [#{$attr}="33"], [#{$attr}="34"] {
    margin-left: 33.33%;
  }
  [#{$attr}="50"] {
    margin-left: 50%;
  }
  [#{$attr}="66"], [#{$attr}="67"] {
    margin-left: 66.66%;
  }
  [#{$attr}="75"] {
    margin-left: 75%;
  }
  [#{$attr}="80"] {
    margin-left: 80%;
  }
  [#{$attr}="90"] {
    margin-left: 90%;
  }
}

@mixin breakpoint-media-query($suffix, $min-width) {
  @media (min-width: $min-width) {
    [layout-#{$suffix}] {
      @include flex-direction(row);
    }
    [layout-#{$suffix}="vertical"] {
      @include flex-direction(column);
    }

    @include flex-presets( flex-#{$suffix} );
    @include offset-presets( offset-#{$suffix} );

    [block-#{$suffix}] {
      display: block;
    }

    [inline-block-#{$suffix}] {
      display: inline-block;
    }

    [hide-#{$suffix}] {
      display: none;
    }

  }
}
