@charset "UTF-8";
@import "mixins";


// Mobile first responsive design

$breakpoint-sm:  600px !default;
$breakpoint-md:  960px !default;
$breakpoint-lg:  1200px !default;
$gutter-width:   15px !default;


[layout] {
  @include box-sizing(border-box);
  @include display-flex();
  @include flex-direction(row);
}

[layout="vertical"] {
  @include display-flex();
  @include flex-direction(column);
  width: 100%;
}

[layout] > [flex] {
  @include box-sizing(border-box);
  display: block;
  //margin: 0;
  padding: 0;
  width: 100%;
}

[layout] > [layout] {
  @include display-flex();
}

[layout-padding],
[layout][layout-padding] > * {
  padding: $gutter-width / 2;
}

[layout-padding] + [layout-padding] {
  margin-top: -($gutter-width / 2);
  padding-top: 0;
}

[layout-fill] {
  margin: 0;
  height: 100vh;
}

/* layout = Default */
@include flex-presets( flex );
@include offset-presets( offset );

/* layout-sm = Small (Tablets) */
@include breakpoint-media-query(sm, $breakpoint-sm);

/* layout-md = Medium (Desktops) */
@include breakpoint-media-query(md, $breakpoint-md);

/* layout-lg = Large */
@include breakpoint-media-query(lg, $breakpoint-lg);

