@charset "UTF-8";
@import "mixins";


// Mobile first responsive design

$breakpoint-sm:  600px !default;
$breakpoint-md:  960px !default;
$breakpoint-lg:  1200px !default;
$gutter-width:   15px !default;

$track-name:     "layout";
$cell-name:      "flex";
$gutter-name:    "padding";
$offset-name:    "offset";


[#{$track-name}] {
  @include box-sizing(border-box);
  @include display-flex();
  @include flex-direction(row);
}

[#{$track-name}="vertical"] {
  @include display-flex();
  @include flex-direction(column);
  width: 100%;
}

[#{$track-name}] > [#{$cell-name}] {
  @include box-sizing(border-box);
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

[#{$track-name}] > [#{$track-name}] {
  @include display-flex();
}

[#{$track-name}-#{$gutter-name}],
[#{$track-name}][#{$track-name}-#{$gutter-name}] > * {
  padding: $gutter-width / 2;
}

[#{$track-name}-#{$gutter-name}] + [#{$track-name}-#{$gutter-name}] {
  margin-top: -($gutter-width / 2);
  padding-top: 0;
}

[#{$track-name}-fill] {
  margin: 0;
  height: 100vh;
}

/* layout = Default */
@include flex-presets( #{$cell-name} );
@include offset-presets( #{$offset-name} );

/* layout-sm = Small (Tablets) */
@include breakpoint-media-query(sm, $breakpoint-sm);

/* layout-md = Medium (Desktops) */
@include breakpoint-media-query(md, $breakpoint-md);

/* layout-lg = Large */
@include breakpoint-media-query(lg, $breakpoint-lg);

