body {
  margin: 0;
  padding: 0;
}

header {
  background: yellow;
}

aside {
  background: green;
}

main {
  background: gray;
}

footer {
  background: red;
}

.demo-cell {
  border: 1px solid #ccc;
  background: #eee;
  padding: 5px;
}
