
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body.demos:before {
  display: none;
}

body.demos {
  padding: 10px 30px;
}

code {
  margin: 0 2px;
  padding: 1px 5px;
  background: #eee;
  font-size: 16px;
}

iframe {
  margin: 12px 0 30px 0;
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}

.inline-demo {
  margin: 12px 0 30px 0;
  padding: 5px;
  height: 150px;
  border: 1px solid #4db6ac;
  background: #e0f2f1;
}

.inline-demo > div {
  padding: 5px;
  min-width: 130px;
  border: 1px solid #004d40;
  background: #00897b;
  color: #e0f2f1;
}

a {
  margin: 0 5px;
  font-size: 11px;
}
table {
  margin: 20px 0;
}
td, th {
  padding: 5px 10px;
  vertical-align: top;
}
th {
  background: #eee;
}

h1 {
  margin: 10px 0;
}

h3 {
  margin: 40px 0 10px 0;
}

p {
  margin: 10px 0;
}

header {
  background: #AB47BC;
  color: white;
}

aside {
  background: #00BCD4;
  color: white;
}

main {
  background: white;
}

footer {
  background: #8BC34A;
  color: white;
}

.demo [layout] > div {
  padding: 10px;
  min-width: 30px;
}

.demo,
.demo-padding {
  color: white;
}

.demo-padding [layout-padding] > div > div {
  margin: 0;
  padding: 10px;
}

.demo [layout]:nth-child(1) > div,
.demo-padding [layout-padding]:nth-child(1) > div > div {
  border: 1px solid #0097a7;
  background: #00BCD4;
}

.demo [layout]:nth-child(2) > div,
.demo-padding [layout-padding]:nth-child(2) > div > div {
  border: 1px solid #689f38;
  background: #8BC34A;
}

.demo [layout]:nth-child(3) > div,
.demo-padding [layout-padding]:nth-child(3) > div > div {
  border: 1px solid #455ede;
  background: #5677fc;
}

.demo [layout]:nth-child(4) > div,
.demo-padding [layout-padding]:nth-child(4) > div > div {
  border: 1px solid #ffa000;
  background: #ffc107;
}

.demo [layout]:nth-child(5) > div,
.demo-padding [layout-padding]:nth-child(5) > div > div {
  border: 1px solid #f50057;
  background: #FF4081;
}

.demo [layout]:nth-child(6) > div,
.demo-padding [layout-padding]:nth-child(6) > div > div {
  border: 1px solid #8e24aa;
  background: #AB47BC;
}

.demo-padding span {
  padding: 5px;
  background: #AB47BC;
}

.demo-padding p {
  padding: 5px 0;
  color: #333;
}

body:before {
  position: fixed;
  top: 4px;
  right: 4px;
  display: block;
  padding: 3px 4px;
  width: 40px;
  border-radius: 4px;
  background: #b0120a;
  color: white;
  content: 'default';
  text-align: center;
  font-size: 10px;
  opacity: .8;
}

@media (min-width: 600px) {
  body:before {
    background: #4a148c;
    content: 'small';
  }
}

@media (min-width: 960px) {
  body:before {
    background: #0d5302;
    content: 'medium';
  }
}

@media (min-width: 1200px) {
  body:before {
    background: #01579b;
    content: 'large';
  }
}

