
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body.demos {
  padding: 10px 30px;
}

code {
  margin: 0 2px;
  padding: 1px 5px;
  background: #eee;
  font-size: 16px;
}

iframe {
  margin: 12px 0 30px 0;
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}

a {
  margin: 0 5px;
  font-size: 11px;
}
table {
  margin: 20px 0;
}
td, th {
  padding: 5px 10px;
  vertical-align: top;
}
th {
  background: #eee;
}

h1 {
  margin: 10px 0;
}

h3 {
  margin: 40px 0 10px 0;
}

p {
  margin: 10px 0;
}

header {
  background: #AB47BC;
  color: white;
}

aside {
  background: #00BCD4;
  color: white;
}

main {
  background: white;
}

footer {
  background: #8BC34A;
  color: white;
}

.demo-cell {
  padding: 10px;
  background: #eee;
  color: white;
}

[layout]:nth-child(1) .demo-cell {
  background: #8BC34A;
}

[layout]:nth-child(2) .demo-cell {
  background: #00BCD4;
}

[layout]:nth-child(3) .demo-cell {
  background: #FF4081;
}

[layout]:nth-child(4) .demo-cell {
  background: #AB47BC;
}

[layout]:nth-child(5) .demo-cell {
  background: #FFCD40;
}

[layout]:nth-child(6) .demo-cell {
  background: #005399;
}

